.categ-title {
    font-family: 'Luckiest Guy', cursive;
    color: white;
    width: 260px;
    display: flex;
    justify-content: center;
    margin: auto;
    font-size: 50px;
}

.blockCategories {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.btn-categories {
    font-family: 'Luckiest Guy', cursive;
    font-size: 25px;
    text-align: center;
    color: white;
    width: 260px;
    border: solid 3px blueviolet;
    border-radius: 20px;
    box-shadow: 0px 0px 30px black;
    padding: 30px;
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    background-color: transparent;
}

@media screen and (min-width: 539px) and (min-height: 406px) {
    .btn-categories {
        width: 500px;
        font-size: xx-large;
    }

    .categ-title {
        font-family: 'Luckiest Guy', cursive;
        color: white;
        width: 260px;
        display: flex;
        justify-content: center;
        margin: auto;
        font-size: 100px;
    }
}