.formConnexion {
    margin-top: 80px;
    padding: 40px;
    text-align: center;
}

.formConnexion label {
    padding-top: 40px;
    font-family: 'Luckiest Guy', cursive;
    color: white;
}

.btn-connexion {
    margin-top: 30px;
    font-family: 'Luckiest Guy', cursive;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
    box-shadow: 0px 0px 30px white;
    color: white;
    padding: 0px 40px;
    background-color: blueviolet;
}

.checkbox {
    padding-left: 10px;
}

