.formConnexion {
    margin-top: 50px;
    padding: 40px;
    text-align: center;
}

.formConnexion label {
    padding-top: 40px;
    font-family: 'Luckiest Guy', cursive;
    color: white;
}

.btn-connexion {
    margin-top: 30px;
    font-family: 'Luckiest Guy', cursive;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
    box-shadow: 0px 0px 30px white;
    color: white;
    padding: 0px 40px;
    background-color: blueviolet;
}

.labelCheckbox {
    padding-left: 15px;
}

@media screen and (min-width: 539px) and (min-height: 406px) {
    .formConnexion {
        display: flex;
        flex-direction: column;
        margin-top: 110px;
    }

    .formConnexion input {
        display: flex;
        margin: auto;
        width: 500px;
        margin-bottom: 10px;
    }

    .btn-connexion {
        justify-content: center;
        margin: auto;
        width: 200px !important;
        margin-top: 60px;
        padding: 10px;
    }
}