.chargement {
    font-family: 'Luckiest Guy', cursive;
    font-size: 30px;
    color: white;
    text-align: center;
    margin-top: 250px;

}.currentQuest {
    font-family: 'Luckiest Guy', cursive;
    font-size: 23px;
    text-align: center;
    text-decoration: none;
    color: white;
    width: 320px;
    height: 200px;
    border: solid 3px blueviolet;
    border-radius: 20px;
    box-shadow: 0px 0px 30px black;
    padding: 10px;
    display: flex;
    justify-content: center;
    margin-left: 35px;
    margin-top: 20px;
}

.currentQuestionText {
    padding: 10px;
    letter-spacing: 0.5px;
}

.btn-question {
    font-family: 'Luckiest Guy', cursive;
    font-size: 23px;
    text-align: center;
    text-decoration: none;
    color: white;
    width: 320px;
    border: solid 3px blueviolet;
    border-radius: 20px;
    box-shadow: 0px 0px 30px black;
    padding: 10px;
    display: flex;
    justify-content: center;
    margin-left: 35px;
    margin-top: 60px;
    background-color: rgba(247, 5, 5, 0.5)
}

.timer {
    color: white;
    font-size: 20px;
    text-align: center;
    font-family: 'Luckiest Guy', cursive;
    margin-top: 20px;
}

.scoreFinal {
    font-family: 'Luckiest Guy', cursive;
    font-size: 40px;
    color: white;
    text-align: center;
}

.btn-retourCateg {
    font-family: 'Luckiest Guy', cursive;
    font-size: 25px;
    text-align: center;
    color: white;
    width: 230px;
    border: solid 3px blueviolet;
    border-radius: 20px;
    box-shadow: 0px 0px 30px white;
    padding: 10px;
    display: block;
    margin: auto;
}