@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

body {
    background: linear-gradient(blueviolet, red);
    height: 100vh;
}

.back-arrow {
    color: white;
    font-size: 30px;
    padding: 20px;
}